<!-- <video poster="https://cdn.shopify.com/s/files/1/0589/4897/6839/files/MORGZ_WEBSITE_BANNER_V2-02.jpg?v=1632826487" autoplay playsinline muted loop>
  <source src="https://cdn.shopify.com/s/files/1/0589/4897/6839/files/output.mp4" type="video/mp4">
</video> -->

<div class="custom-video">
  <div class="video-container">
    <video playsinline autoplay controls muted loop poster="https://cdn.shopify.com/s/files/1/0589/4897/6839/files/morgz.jpg?v=1633708205">
      <source src="{{ 'merch_c.mp4' | asset_url }}" type="video/mp4">
  </div><!-- end of video-container-->

  <div class="image-container"></div>
</div>

<style>

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.image-container {
  background-image: url("https://cdn.shopify.com/s/files/1/0589/4897/6839/files/MORGZ_WEBSITE_BANNER_V2-02.jpg?v=1632826487");
  background-size: cover;
}

@media screen and (max-width: 400px) {
  html {
    background: url("https://cdn.shopify.com/s/files/1/0589/4897/6839/files/MORGZ_WEBSITE_BANNER_V2-02.jpg?v=1632826487");
    background-size: cover;
  }
  .video-container {
    display: none;
  }
}
</style>
