<div class="custom-video">
  <div class="video-container">
    <video playsinline autoplay muted loop poster="https://cdn.shopify.com/s/files/1/0589/4897/6839/files/morgz.jpg?v=1633708205">
      <source src="{{ 'target.webm' | asset_url }}" type="video/webm">
  </div><!-- end of video-container-->

  <div class="image-container"></div>
</div>

<style>

.custom-video {
  margin-top: -7rem;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  /* position: absolute; */
  top: 0;
  left: 0;
}

.image-container {
  background-image: url("https://cdn.shopify.com/s/files/1/0589/4897/6839/files/morgz.jpg?v=1633708205");
  background-size: cover;
}

@media screen and (max-width: 400px) {
  html {
    background: url("https://cdn.shopify.com/s/files/1/0589/4897/6839/files/morgz.jpg?v=1633708205");
    background-size: cover;
  }
  .video-container {
    display: none;
  }
}
</style>
